apiVersion: v1
kind: Service
metadata:
  name: nodeport-service
spec:
  type: NodePort
  selector:
    app: nginx    # Must match your pod labels!
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30007