apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-with-files
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myapp-files
  template:
    metadata:
      labels:
        app: myapp-files
    spec:
      containers:
      - name: app
        image: busybox
        command: ["sleep", "3600"]
        volumeMounts:
        - name: config-volume
          mountPath: /etc/config
      volumes:
      - name: config-volume
        configMap:
          name: app-config
